{% extends "base.html" %}
{% block content %}
<main>
    <div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">Thank You</h1>
                    <br>
                    <p class="small text-muted small text-uppercase mb-1">
                    Thank you for your purchase at Echi Basics. Please check your email for a receipt of your order and
                    feel free to follow us on instagram @echi.basics to stay updated on new products and deals! 
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5"> 
    </section>
    </div>
</main>
{% endblock %}